body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

header, footer {
    text-align: center;
    margin-bottom: 20px;
}

main {
    background: rgba(255, 255, 255, 0.1);
    padding: 40px; /* パディングを増やして大きくする */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 500px; /* 最大幅を設定 */
}

h1, h2 {
    margin: 0 0 20px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 10px;
}

form input {
    margin-bottom: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #575757;
}

#loginMessage {
    margin-top: 20px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}

small a {
    color: #fff;
    text-decoration: underline;
    font-size: 0.8em;
}